.grid {
    /* En bloque */
    display: grid;

    /*
    En linea
    */
    /* display: inline-block; */

    /*
    Template column puede ser auto (se ajusta al contenido), px % etc fraccion restante

    template Definen Tamaño columnas y filas
    */
    grid-template-columns: 25% 2fr 1fr 1fr;
    grid-template-rows:  200px 500px ; 
    border: 2px solid black;
    /*
    Gap ------
    */
    /* column-gap: 10px; */
    /* row-gap: 10px; */
    gap: 10px;

    /*
    Alineacion:
        justify-items: alinea los items en horizontal
        align-item: alinea los item en vertical
        jutify-content: alinea contenido horizontal
        align-content: alinea contenido vertical 
    
    Atajos de alineacion: 
    place-items: [align-item] [justify-items]
    place-content: [jutify-content:] [align-content]
    place-self: [align-self] [justify-self]

     */

/*     
    justify-items: end;
    justify-content:  space-around;
    place-items: center; */
}

.grid .item {
    background-color: #2c86d4;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    border: 2px solid black;
}


/*
Conbinaciones
*/
.grid  .item-1 {
    /*aca abarca dos*/
    /* grid-column-start: 1; /*empieza*/
    /*grid-column-end: span 3; termina. Si quiero que abarque el elemento sgte. debo poner span*/
    /* grid-row-start: 1;
    grid-row-end: 3; */

    /*
    Atajos 
     grid-row: 1/ span 3;
    */
   grid-column: 1/ span 3;
} 

 